/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2022, 2:52:30 PM
    Author     : phamthithi
*/
.section-footer{
    width: 100%;
    background-color:#00FA9A;
    padding-top: 2%;
   padding-left: 40%;
}