/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 24, 2022, 3:37:02 PM
    Author     : t.manh
*/
.body_forgot{
    height: 300px;
    margin: 10px;
    background-color: #fff;
}
.send_otp{
    margin-top: 20px;
    padding-left: 50px;
}
.send_otp a:hover{
    text-decoration: none;
}
.send_otp input{
    padding: 5px 10px;
}
.send_otp a{
    border: 1px solid #2aabd2;
    padding: 5px;
    font-weight: bold;
}
.send_otp p{
    margin-top: 10px;
    margin-left: 120px;
    color: blue
}