* {
    padding: 0; /* */
    margin: 0; /* */
    box-sizing: border-box; /* loại bỏ tính toán kích thước */
}
/* Dropdown Button */
#id {
    margin-bottom: 20px;
}
.row {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 10px 50px;
    background-color: rgb(243, 245, 244);
    justify-content: space-around;
}
.dropbtn {
    background-color: #04aa6d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.header-logo {
    padding: 10px;
}
.header-logo a {
    text-decoration: none;
    font: bold;
    font-size: 18px;
}
.header-logo:hover {
    background-color: #e6eeeb;
}
.search-input {
    width: 50%;
    padding: 10px;
    border: 1px solid rgb(179, 135, 135);
    border-radius: 5px;
    background-color: #f1f1f1;
    justify-content: space-around;
}
.search-input input {
    width: 70%;
    border: none;
    padding: 10px;
    background-color: #f1f1f1;
}
.search-input button {
    padding: 10px;
    border-radius: 5px;
    background-color: #92dbc0;
    float: right;
}
.search-input button:hover {
    opacity: 0.7;
}
.group-manager {
    padding: 10px;
}
.group-manager a {
    text-decoration: none;
    padding: 10px;
}
.group-manager a:hover {
    background-color: #e6eeeb;
}
.group-manager .btn-login {
    margin-right: 10px;
}