/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 16, 2022, 2:45:26 PM
    Author     : t.manh
*/
#admin-main-content {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px
}
.admin-manager {
    background-color: rgb(243, 245, 244);
    width: 25%;
    margin-right: 10px;
    padding: 10px;
    font-size: 20px;
    padding-top: 30px;
}
.list-manager {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 3px
}
.list-manager a {
    text-decoration: none;
    font: bold;
    font-size: 18px;
    font-weight: 600;
}
.list-manager:hover {
    background-color: #aec2ba;
    text-decoration: none;
}
.admin-manager-detail {
    background-color: rgb(243, 245, 244);
    width: 75%;
    float: right;
}
.header-main {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contain-add{
    padding: 10px;
}
.add-Cate{
    font-size: 14px;
    
    border: 1px solid black;
    padding: 5px 15px;
    text-decoration: none;
}
.admin-manager-detail p,
button {
    padding: 5px 10px;
    font-size: 20px;
}

.table-listProduct {
    padding: 10px;
}
.table-listProduct table {
    width: 100%;
    border-collapse: collapse;
}
.table-listProduct table,
td,
th {
    border: 1px solid black;
}
.table-listProduct table 
tr
th {
    padding: 10px;
    text-align: center;
}
.table-listProduct td {
    text-align: -webkit-center;
}
.divTable {
    display: table;
    width: 100%;
}
.divTableRow {
    display: table-row;
}
.divTableRow .divTableCell input{
    background-color: rgb(243, 245, 244);
    border: none;
    padding: 10px;
    width: -webkit-fill-available;

}
/*.divTableHeading {
    background-color: #eee;
    display: table-header-group;
}*/
.divTableCell {
    border: 1px solid #999999;
    display: table-cell;
    padding: 10px 10px;
}
.divTableCell .checkbox{
    padding: 10px;
    display: flex;
}
.divTableBody {
    display: table-row-group;
}

.mess{
    display: flex;
}
.mess p{
    margin: 0 auto;
    color: blue;
}
.submit_edit{
    display: flex;
    padding: 10px;
    color: #74BA43;
}
.submit_edit button {
    margin: 0 auto;
    padding: 10px 30px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
}
.form-btn{
    display: flex;
}
.backPage{
    padding: 10px;
    display: flex;
}
.pagination-page {
    display: inline-block;
}
/*paging*/

.pagination-page a {
    float: left;
    text-decoration: none;
    padding: 5px 10px;
    border: 0.5px solid black;
    margin-left: 1px;
}

.pagination-page a:active {
    background-color: #4caf50;
    color: white;
}

.pagination-page a:hover {
    background-color: chocolate;
}